




body {margin:auto; max-width: 1000px;]
	
p { font-family: arial; }

.fancy { color:red; }

.cool { font-family: Times New Roman, serif;} 



#eka-laatikko { background-color: lightgray;
				border: 15px dotted yellow; }
				

#toka-laatikko { background-color: lightgreen;
border: 10xp dotted yellow; }




img { width:  600px; max-width: 100%; ]